
.input_A
    appearance(none)
    background color-beige
    border 1px solid color-gray_C
    border-radius 0
    border-radius 5px
    box-sizing border-box
    color color-gray
    font-size 21px
    height 50px
    outline 0
    padding 0 15px
    width 100%
    &.is-small
        height 34px
        font-size 15px
    &::-webkit-inner-spin-button
    &::-webkit-outer-spin-button
        appearance(none)
        margin 0
    &-triangle
        relative()
        &:before
            absolute(top 10px bottom 10px right 45px)
            border-left 1px solid color-gray
            content ""
        &:after
            absolute(top 20px right 15px)
            triangle("top",color-black,left 10px top 10px right 10px)
    // &-container
    //     test(blue)
.label_A
    display block
    font-size 21px
    margin-bottom 10px




.radio_A
.checkbox_A
    margin-right 10px
    > label
        display inline-block
        vertical-align middle
        cursor pointer
        user-select none
    input[type="checkbox"]
    input[type="radio"]
        display none
        &:checked +
            .radio_A-label
            .checkbox_A-label
                color color-green
                font-size 30px
                line-height 17px
                text-align center
    

    
    &-text
        margin-right 20px
        margin-left 5px
    &-label
        color white
        cursor pointer
        display inline-block
        font-size 14.2px
        margin-right 5px
        position relative
        user-select none

        &:before
            background-color color-beige
            border 1px solid black
            content ""
            display block
            height 22px
            width 22px
.checkbox_A
    &-label
        &:before
            border-radius 5px
    input[type="checkbox"]
        &:checked + 
            .checkbox_A-label:before
                content "\2713"

.radio_A
    font-size 13px
    &-label
        &:before
            border-radius 50%
    input[type="radio"]
        &:checked + 
            .radio_A-label:before
                content "\2022"
.select_A
    appearance(none)
    background-color color-beige
    border 1px solid color-gray_C
    color color-gray_B
    font-size 21px
    height 50px
    outline 0
    padding 0 15px
    width 100%
    border-radius 5px

+to(767px)
    .input_A
    .select_A
        height 35px
        font-size 16px
    .input_A
        &-triangle
            &:after
                top 15px
                triangle("top",color-black,left 5px top 5px right 5px)
            &:before
                right 30px
    .label_A
        font-size 14px
    .sprite-cvc
        zoom .8
    