@font-face
	font-family: icon_font
	src:url('../fonts/icons/icons.eot')
	src:url('../fonts/icons/icons.eot?#iefi9dtney') format('embedded-opentype'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg')
	font-weight: normal
	font-style: normal

.fonts
	font-family: icon_font
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	// line-height: 1

	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

[class^="icon-"]
[class*=" icon-"]
	&:before
		@extends .fonts
		


.icon-arrow-down_A:before {
	content: "\e647";
}


.icon-github:before {
	content: "\eab1";
}
.icon-minus_A:before {
	content: "\e648";
}

.icon-plus_A:before {
	content: "\e649";
}

.icon-cross:before {
	content: "\e64a";
}

.icon-warning:before {
	content: "\e63e";
}

.icon-arrow-down:before {
	content: "\e63f";
}

.icon-arrow-up:before {
	content: "\e640";
}

.icon-house:before {
	content: "\e641";
}

.icon-link:before {
	content: "\e642";
}
.icon-arrow-up-right_A:before {
	content: "\ea3b";
}

.icon-arrow-left_A:before {
	content: "\e643";
}

.icon-arrow-right_A:before {
	content: "\e644";
}

.icon-discussions:before {
	content: "\e645";
}

.icon-files:before {
	content: "\e646";
}

.icon-notebook:before {
	content: "\e63d";
}
.icon-snowflake:before {
	content: "\e63c";
}
.icon-gift_A:before {
	content: "\e639";
}
.icon-heart:before {
	content: "\e63a";
}
.icon-users:before {
	content: "\e63b";
}
.icon-crown_A:before {
	content: "\e633";
}
.icon-tree:before {
	content: "\e634";
}
.icon-user:before {
	content: "\e635";
}
.icon-check_A:before {
	content: "\e636";
}
.icon-poster:before {
	content: "\e637";
}
.icon-workshop:before {
	content: "\e638";
}
.icon-reply:before {
	content: "\e632";
}
.icon-smile:before {
	content: "\e62d";
}
.icon-google-plus_A:before {
	content: "\e627";
}
.icon-linkedin:before {
	content: "\e628";
}
.icon-skype_A:before {
	content: "\e629";
}
.icon-facebook-square:before {
	content: "\e62a";
}
.icon-email:before {
	content: "\e62b";
}
.icon-plus:before {
	content: "\e62c";
}
.icon-micro:before {
	content: "\e626";
}
.icon-alert:before {
	content: "\e625";
}
.icon-card:before {
	content: "\e621";
}
.icon-chart:before {
	content: "\e622";
}
.icon-bill:before {
	content: "\e623";
}
.icon-close:before {
	content: "\e624";
}
.icon-calendar:before {
	content: "\e620";
}
.icon-money:before {
	content: "\e61d";
}
.icon-lock:before {
	content: "\e61e";
}
.icon-cart:before {
	content: "\e61f";
}
.icon-twitter_A:before {
	content: "\e61c";
}
.icon-skype:before {
	content: "\e606";
}
.icon-gift:before {
	content: "\e60f";
}
.icon-facebook_A:before {
	content: "\e603";
}
.icon-phone_A:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e605";
}
.icon-googleplus:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e608";
}
.icon-enie:before {
	content: "\e609";
}
.icon-arrow_bottom:before {
	content: "\e60a";
}
.icon-brain:before {
	content: "\e60b";
}
.icon-video:before {
	content: "\e60c";
}
.icon-crown:before {
	content: "\e60d";
}
.icon-diploma:before {
	content: "\e60e";
}
.icon-line_chart:before {
	content: "\e610";
}
.icon-clock_A:before {
	content: "\e611";
}
.icon-gear:before {
	content: "\e612";
}
.icon-pencil:before {
	content: "\e613";
}
.icon-play_A:before {
	content: "\e614";
}
.icon-moon:before {
	content: "\e615";
}
.icon-mic:before {
	content: "\e616";
}
.icon-sun:before {
	content: "\e617";
}
.icon-clock:before {
	content: "\e618";
}
.icon-arrow-right:before {
	content: "\e619";
}
.icon-marker:before {
	content: "\e61a";
}
.icon-play:before {
	content: "\e61b";
}
.icon-star:before {
	content: "\e62f";
}
.icon-close_A:before {
	content: "\e630";
}
.icon-exit:before {
	content: "\e631";
}
.icon-check:before {
	content: "\e62e";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
