// Utilities

.u-clearfix
    clearfix()

.u-uppercase
    text-transform uppercase

.u-wrapper
    box-sizing border-box
    margin 0 auto
    max-width 1000px
    padding 0 15px
    position relative

.u-wrapper_A
    @extends .u-wrapper
    max-width 768px

.u-wrapper_B
    @extends .u-wrapper
    max-width 340px

.u-verticalCenter
    box-sizing border-box
    display table
    width 100%

.u-verticalContent
    display table-cell
    vertical-align middle

.u-floatRight
    float right

.u-inlineCenter
    > *
        vertical-align middle
        display inline-block
.u-textLeft 
    text-align left
    
.u-textCenter
    text-align center
    
.u-flexBetween
    display flex
    flex-wrap wrap
    justify-content space-between

.u-flexAround
    display flex
    flex-wrap wrap
    justify-content space-around
.u-marginLeft
    margin-left .5em

.u-videoWrapper
    position relative
    padding-bottom 56.25% /* 16:9 */
    // padding-top 25px
    height 0
    
.u-videoSource
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    
.u-hr
    border-top-color color-black
    
.u-right
    float right

.u-left
    float left

.u-uppercase
    text-transform uppercase
.u-lightText
    font-weight 300