base_font = 'Lato', sans-serif
base_font_2 = 'Bebas Neue'
icon_font = 'icomoon'

color-black = #16210B
color-beige = #eff2e7
color-blue = #00b0cb
color-blue_A = #008396
color-blue_B = #283C48
color-blue_C = #0776A9
color-sky-blue = #0A8ECD
color-dark-gray = #32352e
color-dark-green = #005e59
color-dark-green_A = #16210B
color-gray = #8d8d8d
color-gray_A = #EDF2E8
color-gray_B = #4F4F4F
color-gray_C = #C9C9C9
color-gray_D = #EEF2E7
color-gray_E = #6D6D6D
color-gray_F = #CECECE
color-gray_G = #ADADAD
color-light-gray = #F2F2F2
color-light-gray_A = #C9C9C9

color-green = #7DCD40
color-green_A = #6DAE33
color-light-green = #00e9b6
color-light-green_A = #00af83
color-orange = #ff7f38
color-orange_A = #e4652d
color-pink = #e00792
color-pink_A = #ab0675
color-red = #ff4842
color-red_A = #d0272a
color-purple = #df0a96
color-purple_A = #ab0778
color-yellow = #fdc81f
color-yellow_A = #F7BB35
color-yellow_B = #FFC44D
color-brown = #87620a 
color-brown_A = #db9e3c


// Social networks colors

color-facebook = #3b5999
color-facebook_A = #274271
color-twitter = #60a9de
color-twitter_A = #4984a6
color-youtube = #E52C26
color-youtube_A = #BF2222
color-linkedin = #007BB5
color-skype = #00AFF0
color-googleplus = #DD4B39

// christmas

christmas-blue_A = #AAE2E2
christmas-blue_B = #3aadcb